# Node Modules
node_modules

# Arquivos Formação CSS
Formacao_CSS_Aprofunde_Em_Estilos/AluraPlay_Flexbox/src/img
Formacao_CSS_Aprofunde_Em_Estilos/WaveCast_Grid/src/imagens
Formacao_CSS_Aprofunde_Em_Estilos/CalmariaSPA_Sass/src/assets
Formacao_CSS_Aprofunde_Em_Estilos/AluraNewsletter_Tailwind/src/assets
Formacao_CSS_Aprofunde_Em_Estilos/Culturama_Grid_Flexbox/src/assets

# Arquivos Formação HTML e CSS
Formacao_HTML_CSS_Projetos_Web/Alura+/src/assets
Formacao_HTML_CSS_Projetos_Web/AluraBooks/src/assets
Formacao_HTML_CSS_Projetos_Web/Portfolio/src/assets