node_modules
Formacao_CSS_Aprofunde_Em_Estilos/AluraPlay_Flexbox/src/img
Formacao_CSS_Aprofunde_Em_Estilos/WaveCast_Grid/src/imagens
Formacao_HTML_CSS_Projetos_Web/Alura+/src/assets
Formacao_HTML_CSS_Projetos_Web/AluraBooks/src/assets
Formacao_HTML_CSS_Projetos_Web/Portfolio/src/assets