.topicos {
  background: var(--cor-gradiente);

  text-align: center;
  padding: 1em 0;
}

.topicos__titulo {
  color: var(--branco);

  text-transform: uppercase;

  font-weight: 300;

  margin-bottom: 1em;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.topicos__item {
  margin: 1em 0;
}

.topicos__link {
  color: var(--branco);
  background-color: var(--laranja);

  padding: 1em;

  text-decoration: none;

  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .topicos__titulo,
  .topicos__link {
    font-size: 24px;
  }

  .topicos__lista {
    gap: 24px;
  }

  .topicos__item {
    margin: 2em 0;
  }
}

@media screen and (min-width: 1728px) {
  .topicos {
    padding: 3em 30vw;
  }
}
