//fontes
$fonte-titulos: "Krona One", sans-serif;
$fonte-textos: "Montserrat", sans-serif;

//cores
$roxo-escuro: #0c0421;
$roxo-vibrante: #4e75ff;
$roxo-calmante: #85a0ff;
$lilas: #cad4fa;
$verde-calmante: #e8f5c8;
$preto: #000000;
$branco: #ffffff;

// cor gradiente
$gradiente-primario: linear-gradient(180deg, #e8f5c8 0%, #ffffff 96.87%);
$gradiente-secundario: linear-gradient(180deg, #ffffffb3 0%, #cad4fa4d 100%);
